image:
  repository: acrfordevopspoc01-adrian.azurecr.io/devops-project
  tag: "316aa22ae8ae00f6d0bbc7e6360160472fc2b017"
  pullPolicy: IfNotPresent

replicaCount: 1

resources:
  requests:
    cpu: "250m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

env:
  SPRING_PROFILES_ACTIVE: "dev"
  JAVA_OPTS: "-Xms256m -Xmx512m"

service:
  type: ClusterIP
  port: 80
